html body #root {
  height: 100vh;
  width: 100vw;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  color: #3d464d;
  font: 100%/1.5 "Roboto", Verdana, Sans-serif;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */
}

.flex1 {
  flex: 1;
}

#bugs {
  font-weight: bold;
  font-size: 4em;
  color: #57068c;
}

#navigation-bar {
  display: flex;
  flex-direction: row;
  padding: 0px 20px 0px 20px;
  /* background-color: #3d464d; */
}

#navigation-logo {
  max-height: 50px;
  max-width: 50px;
}

.navigation-tabs {
  margin: 20px;
  display: inline-block;
}

.navigation-tabs>a {
  text-decoration: none;
  color: #3d464d;
}

#home-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-message {
  font-weight: bold;
  font-size: 4em;
}

#home-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home-logo {
  height: 4em;
  vertical-align: baseline;
  filter: invert(13%) sepia(59%) saturate(4422%) hue-rotate(270deg) brightness(89%) contrast(117%);
}

#about-container{
  overflow-y:scroll;
}