html body #root {
  height: 100vh;
  width: 100vw;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  color: #3d464d;
  font: 100%/1.5 "Roboto", Verdana, Sans-serif;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  animation: fadein 2s;
  -moz-animation: fadein 2s;
  /* Firefox */
  -webkit-animation: fadein 2s;
  /* Safari and Chrome */
  -o-animation: fadein 2s;
  /* Opera */
}

.flex1 {
  flex: 1;
}

#bugs {
  font-weight: bold;
  font-size: 4em;
  color: #57068c;
}

#navigation-bar {
  display: flex;
  flex-direction: row;
  padding: 0px 20px 0px 20px;
  /* background-color: #3d464d; */
}

#navigation-logo {
  max-height: 50px;
  max-width: 50px;
}

.navigation-tabs {
  margin: 20px;
  display: inline-block;
}

.navigation-tabs>a {
  text-decoration: none;
  color: #3d464d;
}

#home-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-message {
  font-weight: bold;
  font-size: 4em;
}

#home-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-logo {
  height: 4em;
  vertical-align: baseline;
  filter: invert(13%) sepia(59%) saturate(4422%) hue-rotate(270deg) brightness(89%) contrast(117%);
}
.about-block{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-lister{
  display:flex;
  flex-flow:row wrap;
  justify-content:center;
}
#profile-lister-center{
  display:flex;
  justify-content: center;
  align-items: center;
}
.profile-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 500px;
  height: 200px;
  margin: 10px;
  border-radius: 4px;
  display: flex;
}

.profile-left {
  display: flex;
  width: 200px;
  flex-direction: column;
}

.profile-image-container {
  background-color: teal;
  flex: 1;
  width: 200px;
}

.profile-position {
  text-align: center;
  color: white;
  background-color: black;
}

.profile-information {
  padding: 10px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profile-name {
  margin: 0px;
}

.profile-description {
  flex: 1;
  min-width: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.social-icons {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.social-icons.facebook:hover {
  cursor: pointer;
  filter: invert(35%) sepia(41%) saturate(3050%) hue-rotate(200deg) brightness(96%) contrast(98%);
}

.social-icons.linkedin:hover {
  cursor: pointer;
  filter: invert(31%) sepia(98%) saturate(871%) hue-rotate(169deg) brightness(95%) contrast(104%);
}

.social-icons.instagram:hover {
  cursor: pointer;
  filter: invert(36%) sepia(75%) saturate(3887%) hue-rotate(329deg) brightness(97%) contrast(85%);
}

.social-icons.github:hover {
  cursor: pointer;
  -webkit-filter: invert(.75);
  filter: invert(.75);
}

.social-icons.website:hover {
  cursor: pointer;
  filter: invert(86%) sepia(28%) saturate(4486%) hue-rotate(359deg) brightness(102%) contrast(104%);
}

#contact-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#contact-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#contact-description {
  max-width: 656px;
  text-align: center;
}

#contact-facebook {
  display: inline-block;
  border: 2px solid white;
  border-radius: 4px;
}

#contact-facebook:hover {
  cursor: pointer;
  background-color: #3b5998;
  color: white;
  border: 2px solid #3b5998;
  border-radius: 4px;
}

#contact-form {
  width: 100%;
  max-width: 656px;
  margin-top: 20px;
}

.contact-input {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid lightgrey;
  border-radius: 4px;
  width: 100%;
}

.contact-input:focus {
  border: 2px solid #57068c;
}

#contact-submit-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#contact-submit {
  background-color: #57068c;
  color: white;
  border: 2px solid #57068c;
  border-radius: 4px;
  height: 43px;
  width: 120px;
}

#contact-submit>h3 {
  margin: 0px;
}

#contact-submit:hover {
  background-color: white;
  color: #57068c;
  cursor: pointer;
}

#events-container {
  margin-top: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

#events-header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#events-content {
  overflow-y: scroll;
  -ms-overflow-style: none;
}

#events-content::-webkit-scrollbar {
  display: none;
}

.event-container {
  margin-top: 20px;
  max-width: 656px;
  max-height: 143px;
  display: flex;
  overflow: hidden;
}

.event-left {
  flex: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.event-title {
  margin: 0px;
}

.event-grower {
  flex: 1;
}

.event-right {
  display: block;
  min-width: 143px;
  min-height: 143px;
  background-color: #5DBCD2
}

/* @media only screen and (max-width: 1560px) {
  .profile-lister{
    display:grid;
    grid-template-columns: 510px 510px;
    grid-template-rows: 210px 210px;
  }
  
} */